﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row user-chooser">
    <div class="col-md-6">
        <h2 class="user-option">I am a customer</h2>
        <p>
            Get instant support for your favorite wookiee repellent spray from our highly-qualified operators!
        </p>
        <p>@Html.ActionLink("Get support", "Index", "CustomerSupport")</p>
    </div>
    <div class="col-md-6">
        <h2 class="user-option">I am an operator</h2>
        <p>Give support for our highly-valued customers.</p>
        <p>@Html.ActionLink("Give support", "Index", "HelpCenter")</p>
    </div>
</div>