﻿
@{
    ViewBag.Title = "Wookiee Repellent Support";
}

<div class="container" ng-app="ExoticEradicator">
    <div class="row" ng-controller="ChatController" ng-init="getMessages()">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Wookiee Repellent Expert
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <ul class="chat">
                            <li ng-repeat="message in messages" class="clearfix" ng-class="{left : message.CustomerMessage, right : !message.CustomerMessage}">
                                <div ng-if="!message.CustomerMessage">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff&text=O" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <p>
                                            {{message.Message}}
                                        </p>
                                    </div>
                                </div>
                                <div ng-if="message.CustomerMessage">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <p class="pull-right">
                                            {{message.Message}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" ng-model="newMessage" type="text" class="form-control input-sm" ng-keyup="$event.keyCode == 13 && sendMessage()" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendMessage()">
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
