﻿
@{
    ViewBag.Title = "Wookiee Repellent Support Center";
}

<div class="main_section" ng-app="ExoticEradicator">
    <div class="container">
        <div class="chat_container">
            <div class="col-sm-3 chat_sidebar" ng-controller="ChatGroupController" ng-init="getChatGroups()">
                <div class="row">
                    <div class="dropdown all_conversation">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-weixin" aria-hidden="true"></i>
                            All Conversations
                            <span class="caret pull-right"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#">All</a></li>
                            <li><a href="#">My conversations</a></li>
                            <li><a href="#">Unanswered conversations</a></li>
                        </ul>
                    </div>
                    <div class="member_list">
                        <ul class="list-unstyled">
                            <li class="left clearfix" ng-repeat="chatGroup in chatGroups" ng-click="setSelectedConversationId(chatGroup.ConversationId)" ng-class="{selected : chatGroup.ConversationId === selectedConversationId}">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">{{chatGroup.Username}}</strong>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 message_section">
                <div class="row" ng-controller="OperatorChatController" ng-init="loadSelectedConversation()">
                    <div>
                        <div class="panel-body">
                            <ul class="chat">
                                <li ng-repeat="message in messages" class="clearfix" ng-class="{left : message.CustomerMessage, right : !message.CustomerMessage}">
                                    <div ng-if="message.CustomerMessage">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff&text=O" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <p>
                                                {{message.Message}}
                                            </p>
                                        </div>
                                    </div>
                                    <div ng-if="!message.CustomerMessage">
                                        <span class="chat-img pull-right">
                                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <p class="pull-right">
                                                {{message.Message}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" ng-model="newMessage" type="text" ng-keyup="$event.keyCode == 13 && sendMessageToCustomer()" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="sendMessageToCustomer()">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>